<!DOCTYPE html>
<html lang="en">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Giám Sát Điện Năng</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/css/app.min.css">
  <link rel="stylesheet" href="assets/bundles/bootstrap-social/bootstrap-social.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />

  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.5/firebase-database.js"></script>
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Login</h4>
              </div>
              <div class="card-body">
                <!-- <form method="POST" action="#" class="needs-validation" novalidate=""> -->
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <input id="phoneNumber" class="form-control" name="email" tabindex="1" required autofocus>
                  <div class="invalid-feedback">
                    Please fill in your phone number
                  </div>
                </div>
                <div class="form-group">
                  <div class="d-block">
                    <label for="password" class="control-label">Password</label>
                  </div>
                  <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                  <div class="invalid-feedback">
                    please fill in your password
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block" tabindex="4" onclick="handlerLogin()">
                    Login
                  </button>
                  <script>
                    var count = 0;
                    function handlerLogin() {
                      var phone = document.getElementById("phoneNumber").value;
                      var password = document.getElementById("password").value;

                      if (count == 0) {
                        var firebaseConfig = {
                          apiKey: "AIzaSyAoOkkGudf77uniYT-IuiaDJWj0w3fi_sI",
                          authDomain: "energy-4c629.firebaseapp.com",
                          databaseURL: "https://energy-4c629-default-rtdb.firebaseio.com",
                          projectId: "energy-4c629",
                          storageBucket: "energy-4c629.appspot.com",
                          messagingSenderId: "700325226181",
                          appId: "1:700325226181:web:9051183805a738f1a832ac"
                        };
                        // Initialize Firebase
                        firebase.initializeApp(firebaseConfig);
                      }
                      count++;

                      var database = firebase.database();

                      var starCountRef = firebase.database().ref('users');
                      starCountRef.on('value', (snapshot) => {
                        const data = snapshot.val();
                        for (var i in data) {
                          if (phone == pn && password == pass) {
                            localStorage.setItem("phonenumber", data[i].phonenumber);
                            localStorage.setItem("type", data[i].type);
                            localStorage.setItem("fullname", data[i].fullname);
                            localStorage.setItem("address", data[i].address);
                            localStorage.setItem("makh", data[i].makh);
                            localStorage.setItem("numhouse", data[i].numhouse);
                            
                            if (type == "user") {
                              window.location.href = 'index.html';
                            } else {
                              window.location.href = 'blank.html';
                            }
                          }
                        }
                      });
                    }

                  </script>
                </div>
                <!-- </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="assets/js/custom.js"></script>
</body>
<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->

</html>